.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 9px 5px;
  position: relative;
  height: 164px;
  top: 5px;
  border: 1px solid #dedede;
  z-index: 1;
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.05), 0px 2px 4px rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-ul {
  width: 100%;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 12px;
  width: 100%;
  height: 28px;
  background: #ffffff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* white-space: pre; */
}

.dropdown-item:hover {
  background: #f2f2f2;
}

.dropdown-item:active {
  background: #d5f4f1;
}

.empty-dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: 0.75rem;
  color: #9f9f9f;
}

.dropdown-spinner {
  display: flex;
  justify-content: center;
}

.item-highlight {
  color: #2bc9ba;
}
